@mixin reset-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin a-style {
    margin: 0;
    font-family: "Space Mono",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    text-decoration: none;
}

