.button{

    .button-link{
        @include a-style;
        color: #fff;
        background-color: #fcb72b;
        padding: 14px 39px;
        width: 102px;
        height: 25px;
        transition: .3s all ease;

        &:hover{
            color: #FCB72B;
            background-color: #fff;
            border: 3px solid #FCB72B;
        }
    }  
}