.container{
    max-width: 1106px;
    margin: 0 auto;
    // overflow: hidden;
}

@media only screen and (max-width: $tablet) {
    .container{
        max-width: 690px;
    }
}

@media only screen and (max-width: $mobile) {
    .container{
        max-width: 311px;
    }
}